body {
    font-family: Helvetica, sans-serif;
    min-width: 600px;
}
body.application {
    padding-top: 120px;
}
body.application .navbar-inverse,
.keen-dashboard .navbar-inverse {
    background-color: #000000;
    border: 0;
}
.container-fluid {
    padding-left: 0px;
}
.row {
    margin: 0px;
    padding-bottom: 20px;
}
h3 {
    font-weight: bold;
}
select {
    width: 100%;
    height: 30px;
}
button {
    width: 100%;
    height: 30px;
}
.footer {
    position: fixed;
    z-index: 1030;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    color: #fefefe;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 30px;
}
